# IntelliJ
.idea/
*.iml

# Java / Maven
target/
*.class

# Logs
*.log

# Env
.env

# Node / Angular futuro
node_modules/
dist/

# OS
.DS_Store
Thumbs.db

# opence
AGENTS.md
.opencode
CASESIM_CONTEXT.md