# IntelliJ
.idea/
*.iml

# Java / Maven
target/
*.class

# Logs
*.log

# Env
.env

# Node / Angular futuro
node_modules/
dist/

# OS
.DS_Store
Thumbs.db

# opence
AGENTS.md
.opencode
CASESIM_CONTEXT.md

# Variables de entorno
.env.staging.example
.env
.env.staging
.env.staging.prod
# Docs locales
docs/
