<aside class="sidebar">
  <nav>
    <a routerLink="/visual-kit" routerLinkActive="active">
      Visual Kit
    </a>

    <ng-container *ngIf="userContext.getRole() === 'student'">
      <a routerLink="/student/dashboard" routerLinkActive="active">
        Panel estudiante
      </a>

      <a routerLink="/interview" routerLinkActive="active">
        Entrevista clínica
      </a>
    </ng-container>

    <ng-container *ngIf="userContext.getRole() === 'professor'">
      <a routerLink="/professor/dashboard" routerLinkActive="active">
        Panel profesor
      </a>

      <a routerLink="/professor/review" routerLinkActive="active">
        Revisión docente
      </a>

      <a routerLink="/clinical-cases" routerLinkActive="active">
        Casos clínicos
      </a>
    </ng-container>
  </nav>
</aside>
